# ejemplo de que deberia ir aca
DB_URL=algo
DB_USER=algo
DB_PASSWORD=Algo

## este archivo deberia ser copiado a un archivo .env y modificado en base
## a las variables de entorno de la maquina en donde se clone
## ej 
## $ touch .env \
## $ cat .env.example | tee .env